@charset "UTF-8";
/* COLORES */
/* TAMAÑOS */
/* TABLET */
@media (min-width: 541px) and (max-width: 720px) {
  .header {
    flex-direction: column;
    width: auto; }
    .header__listas {
      flex-direction: column; }
    .header__item {
      display: inline-block; }
  .flex__container {
    display: flex;
    flex-direction: column;
    background-color: #f7941d;
    background-size: contain;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    justify-content: center;
    padding: 1rem; }
  .flex__abajo {
    flex-direction: column; }
  .subtitulo__bold {
    transform: rotate(0deg); } }

/* CELULAR */
@media (min-width: 361px) and (max-width: 540px) {
  .header {
    flex-direction: column;
    width: auto; }
    .header__listas {
      flex-direction: column; }
    .header__item {
      display: inline-block; }
  .tamano__logo__header {
    width: fit-content;
    height: fit-content; }
  .grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .grid__uno {
    grid-row-start: 1/3; }
  .grid__dos {
    grid-row-start: 2/3; }
  .grid__tres {
    grid-row-start: 3/3; }
  .flex__container {
    display: flex;
    flex-direction: column;
    background-color: #f7941d;
    background-size: contain;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    justify-content: center;
    padding: 1rem; }
  .flex__abajo {
    flex-direction: column; }
  .subtitulo__bold {
    transform: rotate(0deg); }
  .section__contacto {
    margin-left: 0rem;
    padding: 0rem; }
  .section__tarjetas {
    display: grid;
    width: 1fr 1fr 1fr;
    height: 1fr 1fr 1fr;
    gap: 0.5rem;
    background-color: #f7941d;
    flex-wrap: wrap; } }

/* MINI */
@media (min-width: 1px) and (max-width: 360px) {
  .header {
    flex-direction: column;
    width: auto; }
  .section__article {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw; }
  .section__texto {
    flex-direction: column;
    justify-content: center; }
  .separacion {
    flex-direction: row; }
  .header__listas {
    flex-direction: column; }
  .header__item {
    display: inline-block; }
  .tamano__logo__header {
    width: fit-content;
    height: fit-content; }
  .grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .grid__uno {
    grid-row-start: 1/3; }
  .grid__dos {
    grid-row-start: 2/3; }
  .grid__tres {
    grid-row-start: 3/3; }
  .flex__container {
    display: flex;
    flex-direction: column;
    background-color: #f7941d;
    background-size: contain;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    justify-content: center;
    padding: 1rem; }
  .flex__abajo {
    flex-direction: column; }
  .subtitulo__bold {
    transform: rotate(0deg); }
  .section__contacto {
    margin-left: 0rem;
    padding: 0rem; }
  .section__tarjetas {
    display: grid;
    width: 1fr 1fr 1fr;
    height: 1fr 1fr 1fr;
    gap: 0.5rem;
    background-color: #f7941d;
    flex-wrap: wrap; } }

/* MAP */
/* EACH */
.key1-card {
  background-image: url("../recursos/clase-natacion.jpg");
  background-size: cover;
  width: 35vw;
  height: 60vh;
  justify-content: flex-start;
  background-color: #f7941d;
  border-radius: 2rem; }

.key2-card {
  background-image: url("../recursos/clase-taekwondo.jpg");
  background-size: cover;
  width: 35vw;
  height: 60vh;
  justify-content: flex-start;
  background-color: #f7941d;
  border-radius: 2rem; }

.key3-card {
  background-image: url("../recursos/clase-spinning-tarde.jpg");
  background-size: cover;
  width: 35vw;
  height: 60vh;
  justify-content: flex-start;
  background-color: #f7941d;
  border-radius: 2rem; }

.key4-card {
  background-image: url("../recursos/clase-salsa.jpg");
  background-size: cover;
  width: 35vw;
  height: 60vh;
  justify-content: flex-start;
  background-color: #f7941d;
  border-radius: 2rem; }

head {
  display: flex; }

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: chocolate; }

a {
  text-decoration: none;
  color: aliceblue;
  transition: all; }

/*  :hover{
        background-color: $color_tarjetas;
        color: $color_fondo;
        transform: scale(10%);
        font-size: larger; 
    } */
.section {
  padding: 0px;
  margin-left: 0px; }
  .section__article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: #0d803d;
    width: 100vw;
    height: auto;
    padding: 1rem; }
  .section__tarjetas {
    display: grid;
    width: 25% 25% 25%;
    height: 20% 20% 20%;
    gap: 0.5rem;
    background-color: #f7941d;
    flex-wrap: nowrap; }
  .section__clases {
    display: grid;
    grid-template-columns: 1/2fr 1/2fr;
    grid-template-rows: 1/2fr 1/2fr;
    height: auto;
    /*         margin-top: 2rem; */
    background-color: #f7941d;
    flex-wrap: wrap;
    list-style-type: none;
    border-radius: 10px; }
  .section____texto {
    display: flex;
    width: 25vw;
    height: 30vh;
    padding-top: 2rem;
    padding-left: 1/2rem;
    border-radius: 1rem;
    align-items: flex-end; }
  .section__contacto {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    margin-left: 3vh;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1rem;
    background-color: #f7941d; }
    .section__contacto__imagenPrincipal {
      width: 100vw; }
  .section .flex__abajo {
    flex-direction: column; }
  .section .flex__container {
    display: flex;
    background-color: #f7941d;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    justify-content: center;
    padding: 1rem; }
  .section .flex__container__div {
    display: inline;
    color: aliceblue;
    padding: 1rem;
    background-color: gray;
    margin: 1rem;
    border: 1px solid gray; }

.img-fluid {
  width: 20%;
  height: auto; }

.color-tarjetas {
  background-color: #f7941d; }

.tamano__logo__header {
  width: fit-content;
  height: fit-content; }

.header {
  display: flex;
  height: 100%;
  width: vw;
  color: chocolate; }
  .header__bienvenida {
    text-align: center;
    font-family: 'Lucida Sans'; }
  .header__subtitulo {
    text-align: center;
    color: brown;
    font-style: italic; }
  .header__listas {
    justify-content: flex-end;
    float: right;
    list-style-type: none;
    font-size: 1rem; }
  .header__item {
    color: aliceblue;
    padding: 0.5rem;
    display: inline; }

.subtitulo__bold {
  font-size: 30px;
  color: gray;
  /*     transform: rotate(270deg); */
  transform-origin: 10px;
  text-shadow: 1px 1px black;
  justify-content: left;
  padding-top: 60px;
  padding-right: 10px; }

.separacion {
  margin-top: 0.25fr; }

.nav {
  order: 1; }

.ul {
  text-decoration: none;
  text-align: right; }

.destacado {
  color: aliceblue; }

.bold {
  font-weight: 800; }

.footer __redes {
  display: flex;
  align-items: center;
  justify-content: center; }

.footer__imagen {
  width: 0.1%; }

.input__tamaño {
  align-items: flex-start;
  width: 40vw;
  height: 10vh;
  border-radius: 10px;
  /*  transition: all 2s; */ }

.input__tamaño__grande {
  align-items: flex-start;
  width: 40vw;
  height: 30vh;
  border-radius: 10px; }

/* :hover{
        height: 15vh;
        width: 45vw;
    } */
.foto__antigua {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 20vw; }

.tarjetas__clases {
  display: flex;
  justify-content: space-around;
  width: 19%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 19%;
  list-style-type: none; }

.instalaciones__google {
  width: 50vw; }

.intrucciones__texto {
  display: block;
  width: 80%;
  text-align: justify;
  background-color: gray;
  padding: 10px;
  font-style: initial; }

.grid__container {
  display: grid;
  grid-template-rows: 20vh,20vh;
  grid-template-columns: 15vw 15vw;
  /*   border: 5 px solid $color_fondo; */
  justify-content: space-around;
  /* gap: 0.2rem; */
  margin-top: 1.5rem; }

.grid__uno {
  grid-row-start: 1/3;
  margin-top: 2rem;
  text-align: justify;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: fit-content; }

.grid__dos {
  grid-column: 2/3;
  margin-top: 2rem;
  text-align: justify;
  padding-right: 1rem;
  padding-left: 1rem;
  width: fit-content; }

.grid__tres {
  grid-column: 3/3;
  margin-top: 2rem;
  text-align: justify;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: fit-content; }

button {
  background-color: #0c7a0c;
  padding: 15px;
  font-size: medium;
  border-radius: 40 px; }

.boton__con__transicion {
  background-image: linear-gradient(to top, #0c7a0c, #687c57); }
