/* TABLET */
@media (min-width: 541px) and (max-width: 720px) {

    .header {
        flex-direction: column;
        width: auto;

        &__listas {
            flex-direction: column;
        }

        &__item {
            display: inline-block;

        }
    }

    .flex {
        &__container {
            display: flex;
            flex-direction: column;
            background-color: #f7941d;
            background-size: contain;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 5%;
            justify-content: center;
            padding: 1rem
        }

        &__abajo {
            flex-direction: column;
        }
    }

    .subtitulo__bold {
        transform: rotate(0deg);
    }
}

/* CELULAR */
@media (min-width: 361px) and (max-width: 540px) {

    .header {
        flex-direction: column;
        width: auto;

        &__listas {
            flex-direction: column;
        }

        &__item {
            display: inline-block;
        }
    }

    .tamano__logo__header {
        width: fit-content;
        height: fit-content;
    }

    .grid {
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        &__uno {
            grid-row-start: 1/3;
        }

        &__dos {
            grid-row-start: 2/3;
        }

        &__tres {
            grid-row-start: 3/3;
        }
    }

    .flex {
        &__container {
            display: flex;
            flex-direction: column;
            background-color: #f7941d;
            background-size: contain;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 5%;
            justify-content: center;
            padding: 1rem
        }

        &__abajo {
            flex-direction: column;
        }
    }

    .subtitulo__bold {
        transform: rotate(0deg);
    }

    .section {
        &__contacto {
            margin-left: 0rem;
            padding: 0rem;
        }

        &__tarjetas {
            display: grid;
            width: 1fr 1fr 1fr;
            height: 1fr 1fr 1fr;
            gap: 0.5rem;
            background-color: #f7941d;
            flex-wrap: wrap;
        }
    }
}



/* MINI */

@media (min-width: 01px) and (max-width: 360px) {

    .header {
        flex-direction: column;
        width: auto;
    }

    .section {
        &__article {
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100vw;
        }

        &__texto {
            flex-direction: column;
            justify-content: center;
        }
    }

    .separacion {
        flex-direction: row;
    }

    .header {
        &__listas {
            flex-direction: column;
        }

        &__item {
            display: inline-block;
        }
    }

    .tamano__logo__header {
        width: fit-content;
        height: fit-content;
    }

    .grid {
        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        &__uno {
            grid-row-start: 1/3;
        }

        &__dos {
            grid-row-start: 2/3;
        }

        &__tres {
            grid-row-start: 3/3;
        }
    }

    .flex {
        &__container {
            display: flex;
            flex-direction: column;
            background-color: #f7941d;
            background-size: contain;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 5%;
            justify-content: center;
            padding: 1rem
        }

        &__abajo {
            flex-direction: column;
        }
    }

    .subtitulo__bold {
        transform: rotate(0deg);
    }

    .section {
        &__contacto {
            margin-left: 0rem;
            padding: 0rem;
        }

        &__tarjetas {
            display: grid;
            width: 1fr 1fr 1fr;
            height: 1fr 1fr 1fr;
            gap: 0.5rem;
            background-color: #f7941d;
            flex-wrap: wrap;
        }
    }
}   