/* COLORES */
$color_principal:chocolate;
$segundo_color:rgb(13, 128, 61);
$color_texto:aliceblue;
$color_fondo:brown;
$color_tarjetas:#f7941d;
$color_instrucciones:gray;
$color_sombra:black;
$color_botones:rgb(12, 122, 12);
$color_degradado:rgb(104, 124, 87);


/* TAMAÑOS */
$ancho:25vw;
$alto:30vh;
