@import 'variables';
@import 'header';
@import 'footer';


head {
    display: flex;
}

body {
    background-color: $color_principal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color:$color_texto;
    transition: all;

    :hover{
        background-color: $color_tarjetas;
        color: $color_fondo;
        transform: scale(10%);
        font-size: larger;
    }
}

.section {
    padding: 0px;
    margin-left: 0px;
    &__article {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        background-color: $segundo_color;
        width: 100vw;
        height: auto;
        padding: 1rem; 
    }
    &__tarjetas{
        display: grid;
        width: 25% 25% 25%;
        height: 20% 20% 20%;
        gap: 0.5rem;
        background-color: $color_tarjetas;
        flex-wrap: nowrap; 
    }
    &__clases{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto; 
        padding: 1rem; 
        margin-top: 2rem;
        background-color: $color_tarjetas;
        flex-wrap: wrap; 
        list-style-type: none;
        border-radius: 10px;
        
    }
    &____texto {
        display: flex;
        width: 100%;
        height: 100%;
        padding-top: 2rem;
        padding-left: 1/2rem;
        border-radius: 1rem;
    }
    &__contacto {
        display: flex;
        flex-wrap: wrap;
        width: 60vw;
        margin-left: 3vh;
        padding: 1rem;
    }
    &__imagenPrincipal {
        width: 100vw;
    }
}

.flex
    __abajo{
        flex-direction: column;
    }


    __container{
        display: flex;
        background-color: $color_tarjetas;
        background-size: cover;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        justify-content: center;
        padding: 1rem;

            &__div{
                display: inline;
                color: $color_texto;
                padding: 1rem;
                background-color: $color_instrucciones;
                margin: 1rem;
                border: 1px solid $color_instrucciones;
              }
  }


.tamano
    __logo__header{
        width: fit-content;
        height: fit-content;

    
}


.header{
    display: flex;
    height: 100%;
    width: vw;
    color:$color_principal;
    &__bienvenida {
        text-align:center;
        font-family: 'Lucida Sans';
    }
    &__subtitulo {
        text-align: center;
        color: $color_fondo;
        font-style: italic;
    }
    &__listas {
        display: flex;
        justify-content: flex-end;
        float: right;
        list-style-type: none; 
        font-size: 1rem;
    }
    &__item {
        color:$color_texto;
        padding: 0.5rem;
        display: inline;
        
    }
}


.subtitulo__bold{
    font-size: 30px;
    color: $color_instrucciones;
    transform: rotate(270deg);
    text-shadow: 1px 1px $color_sombra;
    transform-origin: 150px;
    justify-content: left;
    padding-top: 60px;
    padding-right: 10px;
}

.separacion{
    margin-top: 0.25fr;
}

.nav{ 
    order: 1;

}

.ul{

    text-decoration: none;
    text-align:right;
}

.destacado {
    color: $color_texto;
}

.bold {
    font-weight: 800;
}

.footer
    __redes {
        display: flex;
        align-items: center;
        justify-content: center;}

    __imagen {
        width: 0.1%;}


.input
    __tamaño{
        align-items: flex-start;
        width: 40vw;
        height: 10vh;
        border-radius: 10px;
        transition: all 2s;}

            __grande{
                align-items: flex-start;
                width: 40vw;
                height: 30vh;
                border-radius: 10px;}

    :hover{
        height: 15vh;
        width: 45vw;
    }


.foto__antigua{
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 20vw;

}

.tarjetas__clases{
    display: flex;
    justify-content: space-around;
    width: 19%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 19%;
    list-style-type: none;
}

.instalaciones__google{
    width: 50vw;
}

.intrucciones__texto{
    display: block;
    width:80%;
    text-align: justify;
    background-color: $color_instrucciones;
    padding: 10px;
    font-style: initial;
}

.grid
    __container{
        display: grid;
        grid-template-rows: 20vh;
        grid-template-columns: 15vw 15vw 15vw;
        border: 5 px solid $color_fondo;
        justify-content: space-around;
        gap: 0.2rem;
        margin-top: 1.5rem;

        __uno{
            grid-row-start: 1/3;
            margin-top: 2rem;
            text-align: justify;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            width: fit-content;
            
        }
        __dos{
            grid-column: 2/3;
            margin-top: 2rem;
            text-align: justify;
            padding-right: 1rem;
            padding-left: 1rem;
            width: fit-content;
            
        }

        __tres{
            grid-column: 3/3;
            margin-top: 2rem;
            text-align: justify;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            width: fit-content;
            
        }
}


button{
    background-color: $color_botones;
    padding: 15px;
    font-size: medium;
    border-radius: 40 px;
}

.boton__con__transicion{
    background-image: linear-gradient(to top,$color_botones,$color_degradado);

}
@media (min-width: 541px) and (max-width: 720px){
    
    .header{
        flex-direction: column;
        width:auto;}

        &__listas{
        flex-direction: column;
    }

        &__item {
        display: inline-block;
    
    }

    .flex
        __container{
        display: flex;
        flex-direction: column;
        background-color: #f7941d;
        background-size: contain;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        justify-content: center;
        padding: 1rem 
      }

        &__abajo{
        flex-direction: column;
    }
    .subtitulo__bold{
        transform: rotate(0deg);
    }
   
    }
   
    @media (min-width: 361px) and (max-width: 540px){

        .header{
            flex-direction: column;
            width:auto;
        }
            &__listas{
                flex-direction: column;
            }
            &__item {
                display: inline-block;
            }
    
        .tamano__logo__header{
            width: fit-content;
            height: fit-content;}
    
         .grid
         __container{
             grid-template-columns: 1fr;
             grid-template-rows: 1fr 1fr 1fr;
         }
        &__uno{
            grid-row-start:1/3;
        }
    
        &__dos{
            grid-row-start:2/3;
        }
        &__tres{
            grid-row-start:3/3;
        }
    
        .flex
            __container{
                display: flex;
                flex-direction: column;
                background-color: #f7941d;
                background-size: contain;
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 5%;
                justify-content: center;
                padding: 1rem 
          }
    
            &__abajo{
            flex-direction: column;
        }
        .subtitulo__bold{
            transform: rotate(0deg);
        }
        .section
            __contacto {
                margin-left: 0rem;
                padding: 0rem;
        }
    
            &__tarjetas{
                display: grid;
                width: 1fr 1fr 1fr;
                height: 1fr 1fr 1fr;
                gap: 0.5rem;
                background-color: #f7941d;
                flex-wrap: wrap; 
        }
    }


    
    @media (min-width: 01px) and (max-width: 360px){

        .header{
            flex-direction: column;
            width:auto;
        }

        .section
            __article{
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100vw;
        }

            &__texto{
                flex-direction: column;
                justify-content: center;
        }
        .separacion{
            flex-direction: row;
        }
    
        .header
            __listas{
                flex-direction: column;
        }
            &__item {
            display: inline-block;
        }
    
        .tamano__logo__header{
            width: fit-content;
            height: fit-content;}
    
         .grid
            &__container{
             grid-template-columns: 1fr;
             grid-template-rows: 1fr 1fr 1fr;
         }
        
            &__uno{
            grid-row-start:1/3;
        }
    
             &__dos{
                grid-row-start:2/3;
        }
            &__tres{
            grid-row-start:3/3;
        }
    
        .flex
            __container{
                display: flex;
                flex-direction: column;
                background-color: #f7941d;
                background-size: contain;
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 5%;
                justify-content: center;
                padding: 1rem 
          }
    
            &__abajo{
                flex-direction: column;
        }
        .subtitulo__bold{
            transform: rotate(0deg);
        }
        .section
            __contacto {
                margin-left: 0rem;
                padding: 0rem;}
        
            __tarjetas{
            display: grid;
            width: 1fr 1fr 1fr;
            height: 1fr 1fr 1fr;
            gap: 0.5rem;
            background-color: #f7941d;
            flex-wrap: wrap; 
             }
            
        }