head {
    display: flex;
}

body {
    background-color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color:aliceblue;
}

section {
    padding: 0px;
    margin-left: 0px;
}

.flex__container{
    display: flex;
    background-color: #f7941d;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    justify-content: center;
    padding: 10px;  
  }

  .flex__abajo{
      flex-direction: column;
  }

.flex__container__div{
    display: inline;
    color: white;
    padding: 40px;
    background-color: grey;
    margin: 10px;
    border: 1px solid grey;
  }

.section__article {
    display: flex;
    flex-direction:column-reverse;
    flex-wrap: wrap;
    background-color: rgb(13, 128, 61);
    width: 100%;
    height: auto;
    padding: 20 px; 
}
.section__tarjetas{
    display: grid;
    flex-direction:column;
    width: 25% 25% 25%;
    height: 20% 20% 20%;
    padding: 20 px; 
    background-color: #f7941d;
    flex-wrap: nowrap; 
}
.section__clases{
    display: flex;
    flex-direction:row;
    width: 20% 20% 20% 20%;
    height: auto;
    padding: 20 px; 
    background-color: #f7941d;
    flex-wrap: wrap; 
    list-style-type: none;
}

.section__texto {
    display: flex;
    width: 100%;
    height: 100%;
}

.head__titulo {
    text-align: center;
}

.header{
    display: flex;
    height: 1000px;
    width: 100%;
    color:chocolate;
}

.header__bienvenida {
    text-align: center;
    font-family: 'Lucida Sans';
}

.header__subtitulo {
    text-align: center;
    color: brown;
    font-style: italic;
}

.header__listas {
    display: flex;
    justify-content: flex-end;
    float: right;
    list-style-type: none;  
}

.header__item {
    color:aliceblue;
    padding: 20px;
    display: inline;
}

.nav{ 
    order: 1;
    display:flex;
    /* align-content: flex-end;
    justify-content: flex-end; */
}

.ul{
    display: flex;
    text-decoration: none;

    /* align-content: flex-end;
    justify-self: flex-end; */
}

.destacado {
    color: aliceblue;
}

.bold {
    font-weight: 800;
}

.section__imagenPrincipal {
    width: 100%;
}

.footer__redes {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    list-style-type: none;
}

.footer__imagen {
    
    align-items: center;
    width: 20%;
}

.section__contacto {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    padding: 10px;
}
.input__tamaño{
    align-items: flex-start;
    width: 500px;
    height: 30px;
}
.input__tamaño__grande{
    align-items: flex-start;
    width: 500px;
    height: 400px;
}
.foto__antigua{
    display: flex;
    flex-direction: column;
}

.tarjetas__clases{
    display: flex;
    justify-content: space-around;
    width: 19%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 19%;
    list-style-type: none;
}

.instalaciones__google{
    width: 80%;
}

.intrucciones__texto{
    display: block;
    width:80%;
    text-align: justify;
    background-color: grey;
    padding: 10px;
}
.subtitulo__bold{
    font-size: 30px;
    color: gray;
    transform: rotate(270deg);
    text-shadow: 1px 1px black;
    transform-origin: 150px;
    justify-content: left;
    padding-top: 60px;
    padding-right: 10px;
}

.grid__container{
    display: grid;
    grid-template-rows: 20%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 9%;
    border: 5 px solid brown;
    grid-area: auto;
    justify-content: center;
    align-content: center;
    padding: 10fr;

}
.grid__item{
    

}
.grid__uno{
    grid-row-start: 1;
    justify-self: center;
}

.grid__dos{
    grid-column: 2/3;
}
.grid__tres{
    grid-column: 3/3;
}